.product-page {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-page .product-content {
    width: 80%;

    margin-top: 1.5rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-page .product-content .content-head {
    width: 70%;
    padding: .6rem;

    border-bottom: 3px solid black;
    
    display: flex;
    justify-content: center;
}